<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="HostSmtp" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="SenderName" value="Report Service"/>
    <add key="SenderEmail" value="service@gmail.com"/>
    <add key="SenderEmailPassword" value="encrypt:testpass"/>
    <add key="ReceiverEmail" value="test@test.pl"/>
    <add key="SendHours" value="6"/>
    <add key="IntervalInMinutes" value="1"/>
    <add key="SendReportEnable" value="true"/>
  </appSettings>
</configuration>
