<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="HostSmtp" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="EnableSsl" value="true" />
    <add key="SenderName" value="Report Service" />
    <add key="SenderEmail" value="labcar.report.service@gmail.com" />
    <add key="SenderEmailPassword" value="Fewk3dtrItgYlk79lyoekoUqB/SR/+fguCZLrH39DwhEwdxHsGPh/YZBGRB1WGisxh8F5fvFufpIX+EuwwO1KKhmHdmKdxYV98C1p+NFI+MJzTuRwr5URelkqs5+AKaS" />
    <add key="ReceiverEmail" value="szymanskis@poczta.fm" />
  </appSettings>
</configuration>
